body {
  background-color: #f7fff7;
  font-family: monospace, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #1e352f;
}

/* On mobile devices, display image aside below image */
@media (max-width: 600px) {
    main {
      width: 100%;
        margin: 0px;
    }

    .book-container {

    }

    .book-item {
      width: 100%;
      /*border: 1px solid black;*/
      display: grid;
      margin: 0px;
      grid-template-rows: 320px;
      grid-template-columns: 50% auto;
    }
}

main {
  margin: 5%;
}

.book-container {
  width: 100%;
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));*/
}

/* .current-book {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 180px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
} */

/* .book-cover img {
  width: 100%;
} */

.book-item {
  width: 30%;
  border: 1px solid #084500;
  border-radius: 25px;
  margin: 5px;
  display: grid;
  grid-template-rows: 310px;
  grid-template-columns: auto 280px;
  font-size: 13px;
}

.book-item p {
  height: 10px;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover img {
  filter: drop-shadow(5px 5px 5px #1b1b1b);
  width: 180px;
  transform: rotate(10deg);
}

.book-info {
  display: block;
  margin-right: 5px;
  margin-left: 5px;
}

.title {
  font-weight: 600;
  font-size: 15px;
}

.author {
  font-weight: 200;
  font-size: 15px;
  line-height: 80%;
  font-style: italic;
}