body {
  background-color: #f7fff7;
  font-family: monospace, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #1e352f;
}

main {
  margin: 0% 5% 0% 5%;
}

.currently {
  margin: 0% 5% 0% 5%;
  display: grid;
  column-gap: 50px;
  grid-template-rows: 142px auto;
  grid-template-columns: 323px auto;
  grid-auto-flow: column;
}

.img-square {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: left top;
}

.polaroid {
  width: 130px;
  height: 150px;
  text-align: center;
  padding: 5px 10px;
  background-color: #ffffff;
  filter: drop-shadow(5px 5px 5px #1b1b1b);
  transform: rotate(10deg);
}

.book-container {
  width: 100%;
  display: flex;
}

.book-item {
  width: 30%;
  border: 1px solid #084500;
  border-radius: 25px;
  margin: 5px;
  display: grid;
  grid-template-rows: 310px;
  grid-template-columns: auto 230px;
  font-size: 13px;
}

.currently .book-item {
  width: 50%;
}

.logo-image {

  border: 2px solid #084500;
  border-radius: 25px;
  background-color: #ffffff;
}

button {
  border-radius: 5px;
  border: 1px solid #084500;
  background: none;
  font-family: monospace, Helvetica, Arial, sans-serif;
}

.book-item p {
  margin: 0px;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover img {
  filter: drop-shadow(5px 5px 5px #1b1b1b);
  width: 180px;
  transform: rotate(10deg);
}

.book-info {
  display: block;
  margin: 10px 0px 0px 10px;
}

.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 80%;
}

.author {
  font-weight: 200;
  font-size: 15px;
  line-height: 80%;
  font-style: italic;
}


details>summary {
  list-style: none;

  &::after {
    content: "📷";
    font-size: 30px;
  }

  [open] &::after {
    content: "📸";
    font-size: 30px;
  }

   &::after:hover {
    content: "📸";
    font-size: 30px;
    cursor: pointer;
  }
}

details>summary:hover {
  list-style: none;

   &::after {
    content: "📸";
    font-size: 30px;
    cursor: pointer;
  }
}

/* details[open]>summary {
  list-style-type: '📸';
  font-size: 16px;
}

details>summary:hover {
  list-style-type: '📸';
  font-size: 16px;
  cursor: pointer;
}
*/
details[open]::details-content {
  margin: -10% 25%;
}


/* On mobile devices, display image aside below image */
@media (max-width: 600px) {
  main {
    width: 100%;
    margin: 0px;
  }

  .book-item {
    width: 100%;
    border: 1px solid #084500;
    border-radius: 25px;
    margin: 5px;
    display: grid;
    grid-template-rows: 310px;
    grid-template-columns: auto 180px;
    font-size: 13px;
  }


  .book-cover img {
    filter: drop-shadow(5px 5px 5px #1b1b1b);
    width: 150px;
    transform: rotate(10deg);
  }

  .currently {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .currently .book-item {
    width: 100%;
  }

  details[open]::details-content {
  margin: -20% 25%;
}
}