

body {
  background-color: #f7fff7;
  font-family: monospace, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight:400;
  line-height: 160%;
  color: #1e352f;
}

main {
    margin: 5%;
}

.book-container {
  width: 100%;
  display: flex;
}

/* .current-book {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 180px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
} */

/* .book-cover img {
  width: 100%;
} */

.book-item {
  width: 450px; 
  border: 1px solid black;
  
  display: grid;
  grid-template-rows: 320px;
  grid-template-columns: 200px auto;
}

.book-item p {
    height:10px;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-info {
  display: block;
  margin-right: 5px;
}

.title {
  text-align: right;
  height: 12px;
  font-weight:600;
  font-size: 15px;
  line-height: 80%;
}

.author {
  text-align: right;
  font-weight:200;
  font-size: 15px;
  line-height: 80%;
  font-style: italic;
}
