<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} - Berlin Beer and Book club</title>
  <link rel="stylesheet" href="https://unpkg.com/bamboo.css/dist/light.min.css" type="text/css">
  <meta charset="UTF-8">
  <meta name="description" content="This is a website created for a book club set up by three friends on a trip to Berlin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <!-- Not set up yet -->
  <!-- link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" -->
  <!-- add custom styling additions -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/additions.css') }}">
</head>

<body>
  <!-- Page content -->
  {% set name = "Helen" %}
  <main>
    <header>
      <a href="/"><img class="center logo-button"
          src="{{ url_for('static', filename='images/site_images/BBandBC-2.png') }}"></img></a>
      <div>
        <a href="{{ url_for('book_club_about') }}"><img class="nav-button"
            src="{{ url_for('static', filename='images/site_images/about.png') }}"></a>
            <!--comment out wrapped gif for now-->
        <!--a class="foo right action" href="{{ url_for('wrapped_helen') }}">
          <img class="suprise-button" src="{{ url_for('static', filename='images/site_images/gift-box-shut.png') }}">
          <img class="suprise-button" src="{{ url_for('static', filename='images/site_images/gift-box-open.png') }}">
        </a -->
      </div>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <a href="https://www.flaticon.com/free-icons/gift" title="gift icons">Gift icons created by amonrat rungreangfangsai
      - Flaticon</a><br>
    <a href="https://codepen.io/hexagoncircle/pen/wvOPmGO" title="gift icons">CSS for wrapped page by hexagoncircle</a>
  </div>
</main>

</html>