<html>
<head><link rel="stylesheet" href="https://unpkg.com/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/magick.css"></head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/october_challenge.css') }}">
<body>
<script src="{{ url_for('static', filename='scripts/october_challenge.js') }}"></script>

  <main>
    <header>
  <h1>October book club</h1>
          <nav>
      <a href="">back</a>
    </nav>
    </header>
    <section id="task-parent">
      <h3 id="task-header">Tasks</h3>
      <p id="task-container">
      </p>
    </section>
  </main>
  </body>
</html>